
.ff{
    padding-top:50px;
    padding-bottom:20px;
    text-align:center;
    padding-left:10px;
}
.dd{
    font-size: x-large;
}
   fieldset{
       text-align:center;
        width:40%;
        padding-top:20px;
        padding-bottom:30px;
        background-color:black;
    }
   legend{
        padding-left: 430px;
        margin-top: 150px;
    } 
#reddis{
    margin-right: 30px;
    width: 100px;
    float:left;
}
#grdis{
    margin-right: 30px;
    width: 100px;
    float:left;
}
#bldis{
    margin-right: 30px;
    width: 100px;
    float:left;
}