fieldset{
    color:solid black;
    text-align:center;
    width:40%;
    padding-top:20px;
    padding-bottom:30px;
}
legend{
    padding-left: 430px;
    margin-top: 150px;
}
.ff{
    padding-top:50px;
    padding-bottom:20px;
    text-align:center;
    padding-left:10px;
}
.dd{
    font-size: x-large;
}