.fi{
    border-color: white;
    text-align:center;
    width:35%;
    border-top-width: 25px;
    border-bottom-width: 25px;
    background-color: white;
}
header{
    text-align: center;
}
.fg{
    background-color:lightgray;
}
.mm{
    text-align: center;
}
footer{
    padding-top: 20px;
}